* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: black;
}
::-webkit-scrollbar{
  display: none;
}
.title {
  font-size: 40px;
 font-family: 'Courier New', Courier, monospace;
 text-align: center;
 background: linear-gradient(
    90deg,
    #f9d923,
    #00a19d,
    #0c87b7,
    #cb49ff,
    #ff6666,
    #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 2s ease infinite;
 border-radius: 5px;
 
}
.shpContainer {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
}
.songtitle {
  margin: 10px 0px;
  background-color: red;
  border-radius: 15px;
}
.shp {
  height: 250px
  
}
.luffy {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  color: gray;
  text-align: center;
}
footer {
  margin-top: 20px;
  font-size: 10px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #f9d923,
    #00a19d,
    #0c87b7,
    #cb49ff,
    #ff6666,
    #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 2s ease infinite;
  color: black;
}
.lfy {
  height: 300px;
}
/*.main_button {
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  background: yellow;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  
}*/
.main_button {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    font-size: 40px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    /*background: rgba(255, 255, 255, .1);
    border: 3px solid rgba(255, 255, 255, .2);*/
    border-radius: 5px;
    transition: .4s;
    
    z-index: 1;
    border-color: transparent;
    background: linear-gradient(
    90deg,
    #f9d923,
    #00a19d,
    #0c87b7,
    #cb49ff,
    #ff6666,
    #f9d923
    );
    background-size: 400%;
    box-shadow: 0 0 15px rgb(2, 4, 24);
    animation: glow 2s ease infinite;
}
@keyframes glow {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}
/*.main_button:hover {
  background: blue;
}
.main_button:active {
  background: blue;
}*/
.button_icon,
.button_text {
  display: inline-flex;
  align-items: center;
  padding: 0px 15px;
  height: 100%;
}
.button_icon {
  color: gray;
  font-size: 1.2em;
  background: black;
  border-radius: 5px;
}
#loaded{
  margin-top: 0;
  background: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
